
* {
  box-sizing: border-box;
}
html {
  height: 100%;
}
body {
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: #ffffff;
}
.app{
  display: block;
  margin: 0 auto;
  padding: 20px;
  max-width: 800px;
  width: 100%;
}
.logo{
  display: block;
  max-width: 200px;
  margin: 20px auto;
}
@media all and (max-width: 768px) {
.app{
    padding: 10px;
}
}

.table{
  width: 100%;
  font-family: sans-serif;
  font-size: 13px;
}
.table th {
  padding: 7px 10px;
}
.table td {
  padding: 5px 10px;
}
.table tr:nth-child(2n){
  background-color: #fbfbfb;
}
.t-head{
  font-size: 14px;
  font-weight: normal;
  color: #020202;
  background-color: #f1f1f1;
}
.ids{
  text-align: right;
  width: 100px;
}
.titles{
  text-align: left;
}
@media all and (max-width: 768px) {
.ids{
    width: 50px;
    font-size: 11px;
}
.titles{
    font-size: 11px;
}
}

.search-form[data-v-7cb41050]{
  padding: 20px 0;
  width: 100%;
}
.input-container[data-v-7cb41050]{
  display: inline-block;
  vertical-align: top;
  width: calc(100% - 110px);
  position: relative;
}
.clear[data-v-7cb41050]{
  position: absolute;
  top: 50%;
  right: 10px;
  width: 12px;
  height: 12px;
  transform: translateY(-50%);
  cursor: pointer;
}
.clear.hidden[data-v-7cb41050]{
  display: none;
}
.clear svg[data-v-7cb41050] {
  display: block;
  width: 12px;
  height: 12px;
}
.input-tip[data-v-7cb41050]{
  display: none;
  position: absolute;
  top: calc(-100% - 3px);
  left: 0;
  background-color: #CCEEFF;
  border-radius: 2px;
  display: block;
  font-size: 10px;
  color: #020202;
  padding: 5px 10px;
  font-style: italic;
  pointer-events: none;
  user-select: none;
  display: none;
}
.input-tip[data-v-7cb41050]:after{
  content: '';
  display: block;
  position: absolute;
  left: 20px;
  bottom: 0;
  width: 10px;
  height: 10px;
  border-radius: 2px;
  transform: rotate(45deg) translateY(50%);
  background-color: #CCEEFF;
}
.search-input[data-v-7cb41050]{
  display: none;
  width: 100%;
  height: 30px;
  padding: 0 10px;
  line-height: 20px;
  display: inline-block;
  border: 1px solid #009DE7;
  color: #020202;
  font-size: 14px;
  border-radius: 2px;
  margin: 0;
  vertical-align: top;
}
.search-button[data-v-7cb41050]{
  display: inline-block;
  padding: 0 10px;
  height: 30px;
  line-height: 20px;
  background-color: #009DE7;
  border: 0 solid transparent;
  color: #ffffff;
  font-size: 14px;
  border-radius: 2px;
  margin: 0;
  width: 100px;
}
@media all and (max-width: 768px) {
.input-container[data-v-7cb41050]{
    display: block;
    vertical-align: top;
    width: 100%;
}
.search-button[data-v-7cb41050]{
    width: 100%;
    display: block;
    margin-top: 10px;
}
.input-tip[data-v-7cb41050]{
    display: none;
}
.search-input:not(:focus) ~ .input-tip[data-v-7cb41050]{
    display: none;
}
.search-input:focus ~ .input-tip[data-v-7cb41050]{
    display: block;
}
.input-tip[data-v-7cb41050]{
    display: block;
}
[data-v-7cb41050]::-webkit-input-placeholder { /* WebKit browsers */
    color: #fff;
}
[data-v-7cb41050]:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #fff;
    opacity: 1;
}
[data-v-7cb41050]::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #fff;
    opacity: 1;
}
[data-v-7cb41050]:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #fff;
}
}
